- content_for :title, @admin_service.name

.panel.panel-default
  .panel-heading
    %h3.panel-title
      %strong= @admin_service.name
  .panel-body
    %table.table.table-hover
      %tbody
        %tr
          %td.col-xs-3
            %strong Description
          %td.col-xs-9= @admin_service.description

= link_to 'Edit', edit_admin_service_path(@admin_service)
\|
= link_to 'Back', admin_services_path
