.col-sm-12.col-xs-12
  .select-home-page
    %a.back-arrow{:href => "/"}
      %img{:src => "/assets/back-arrow.png", :class => "back-arrow-image"}
    .select-box-text-back
      Getting Connected
    .timer
      %img{src: "/assets/timer.png", class: "timer-image"}
      %span#minutes
        00
      %span#dots
        = ":"
      %span#seconds

.row
  .col-md-12.col-xs-12
    #map{:style => "height: 100vh;"}

#myModal.modal{sytle: "margin: 0 auto;"}
  .modal-dialog
    .modal-content
      .modal-header
        -# %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        -# %h4.modal-title Modal title
      .modal-body
        %p Your request has been sent to all nearby health care professionals, please wait while we check which health care professional is available.
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} OK
%script{:src => "https://maps.googleapis.com/maps/api/js"}
:javascript
  $('#myModal').modal('show')

  var myLatLng = {lat: parseFloat(#{@lat}), lng: parseFloat(#{@long})};


  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });

  var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
  var image = 'assets/custom.png';

  $.getJSON( "/doctor-request.json", function( data ) {
    console.log(data[0].length);
    for(var i = 0; i< data[0].length; i++) {
      console.log("dsadas");
      var myLatLng2 = {lat: parseFloat(data[0][i]['lat']), lng: parseFloat(data[0][i]['long'])};
      var marker = new google.maps.Marker({
        position: myLatLng2,
        map: map,
        icon: image
      });
    }
  });

  var timeout = Math.floor(Math.random() * 50000) + 20000;

  function allocate_doc() {
    $.getJSON( "/allocate_doctor.json", function( data ) {
    });
    window.location = "/doctor-selected";
  }

  if(timeout > 60000) {
    setTimeout(function(){ window.location = "/doctor-listing" }, 60000);
  }
  else {
    setTimeout(function(){ allocate_doc() }, 60000);
  }


  var sTime = new Date().getTime();
  var countDown = 60;

  function UpdateTime() {
      var cTime = new Date().getTime();
      var diff = cTime - sTime;
      var seconds = countDown - Math.floor(diff / 1000);
      if (seconds >= 0) {
          var minutes = Math.floor(seconds / 60);
          seconds -= minutes * 60;
          $("#minutes").text(minutes < 10 ? "0" + minutes : minutes);
          $("#seconds").text(seconds < 10 ? "0" + seconds : seconds);
      } else {
          $("#countdown").hide();
          $("#aftercount").show();
          clearInterval(counter);
      }
  }
  UpdateTime();
  var counter = setInterval(UpdateTime, 500);













