.col-sm-12.col-xs-12
  .select-home-page
    %a.back-arrow{:href => "/"}
      %img{:src => "/assets/back-arrow.png", :class => "back-arrow-image"}
    .select-box-text-back
      Patient’s condition

.row
  .col-sm-12.col-xs-12
    #map{:style => "height: 300px;"}
  .col-sm-12.col-xs-12
    .doctor-wrapper
      .row
        .selected-doctor
        .status-doctor
          Accepted



%script{:src => "https://maps.googleapis.com/maps/api/js"}
:javascript
  
  var path = [];

  // Save the current position
  path.push(new google.maps.LatLng('12.9667', '77.5667'));
  var myLatLng = {lat: 12.9667, lng: 77.5667};
  var myLatLng2 = {lat: 12.9617, lng: 77.5697};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });
  
  var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
  var image = 'assets/custom.png';
  
  path.push(new google.maps.LatLng(12.9617,77.5697));
  var latLngBounds = new google.maps.LatLngBounds();
  for(var i = 0; i < path.length; i++) {
    latLngBounds.extend(path[i]);
    // Place the marker
    new google.maps.Marker({
      position: myLatLng2,
      map: map,
      icon: image
    });
  }
 
  // Fit the bounds of the generated points
  map.fitBounds(latLngBounds);

  var to = {lat: 12.9667, lng: 77.5667};
  var from = {lat: 12.9617, lng: 77.5697};
  var myOptions = {
    zoom: 15,
    center: new google.maps.LatLng(12.9667, 77.5667),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  // Draw the map
  var mapObject = new google.maps.Map(document.getElementById("map"), myOptions);

  var directionsService = new google.maps.DirectionsService();
  var directionsRequest = {
    origin: from,
    destination: to,
    travelMode: google.maps.DirectionsTravelMode.DRIVING,
    unitSystem: google.maps.UnitSystem.METRIC
  };
  directionsService.route(
    directionsRequest,
    function(response, status)
    {
      if (status == google.maps.DirectionsStatus.OK)
      {
        new google.maps.DirectionsRenderer({
          map: mapObject,
          directions: response,
          icon: 'http://placehold.it/50' 
        });
      }
      else
        $("#error").append("Unable to retrieve your route<br />");
    }
  );



