.col-sm-12.col-xs-12
  .select-home-page
    .select-box-text
      Select either of the options


.col-sm-12.col-xs-12
  %a.link-block{:href => "/next"}
    .hospital-go
      .hospital-master
        .hospital-go-image-master 
          %img{:src => "/assets/hospital.png", :class => "hospital-go-image"}
        .hospital-go-text
          I need an ambulance 


.col-sm-12.col-xs-12
  %a.link-block{:href => "/next"}
    .call-doctor-home-go
      .hospital-master
        .hospital-go-image-master 
          %img{:src => "/assets/doctor-home.png", :class => "hospital-go-image"}
        .hospital-go-text
          I have my own vehicle
        