.col-sm-12.col-xs-12
  .select-home-page
    %a.back-arrow{:href => "/"}
      %img{:src => "/assets/back-arrow.png", :class => "back-arrow-image"}
    .select-box-text-back
      Select either of the options


.col-sm-12.col-xs-12
  %a.link-block{:href => "/next"}
    .ambulance-go
      .hospital-master
        .hospital-go-image-master 
          %img{:src => "/assets/ambulance.png", :class => "hospital-go-image"}
        .hospital-go-text
          I need an ambulance 


.col-sm-12.col-xs-12
  %a.link-block{:href => "/next"}
    .vehicle-go
      .hospital-master
        .hospital-go-image-master 
          %img{:src => "/assets/car.png", :class => "hospital-go-image"}
        .hospital-go-text
          I have my own vehicle
        