.col-sm-12.col-xs-12
  .select-home-page
    .select-box-text
      Select either of the options


.col-sm-12.col-xs-12
  %a.link-block{:href => "/next-hospital"}
    .hospital-go
      .hospital-master
        .hospital-go-image-master 
          %img{:src => "/assets/hospital.png", :class => "hospital-go-image"}
        .hospital-go-text
          Tap to 
          %br
          Go to a hospital 


.col-sm-12.col-xs-12
  %a.link-block{:href => "/next-doctor"}
    .call-doctor-home-go
      .hospital-master
        .hospital-go-image-master 
          %img{:src => "/assets/doctor-home.png", :class => "hospital-go-image"}
        .hospital-go-text
          Tap to 
          %br
          Call the doctor home
        