.col-sm-12.col-xs-12
  .select-home-page
    .select-box-text
      Select either of the options

.col-sm-12.col-xs-12
  %a.link-block{href: request_doctor_path}
    .call-doctor-home-go
      .hospital-master
        .hospital-go-image-master
          %img{src: "/assets/doctor-home.png", class: "hospital-go-image"}
        .hospital-go-text
          Tap to call the health professional
          %br
          to your location

.col-sm-12.col-xs-12
  %a.link-block{href: request_hospital_path}
    .hospital-go
      .hospital-master
        .hospital-go-image-master
          %img{src: "/assets/hospital.png", class: "hospital-go-image"}
        .hospital-go-text
          Tap to
          %br
          Go to nearby hospital


