.col-sm-12.col-xs-12
  .select-home-page
    %a.back-arrow{:href => "/"}
      %img{:src => "/assets/back-arrow.png", :class => "back-arrow-image"}
    .select-box-text-back
      Patient’s condition

.col-sm-12.col-xs-12
  .condition-text-wrapper
    .condtion-text
      * Please fill all the symptoms as we can track the disease as accurate as possible.
    %form{:action => "patient-condition"}
      .condition-input-field
        %select.js-example-basic-multiple.form-control.condition-patient{:multiple => "multiple"}
          %option{:value => "orange"} orange
          %option{:value => "white"} white
          %option{:value => "purple"} purple
          %option{:value => "red"} red
          %option{:value => "blue"} blue
          %option{:value => "green"} green
          
    .option-text 
      OR

.row
  .total-wrapper
    .col-sm-12.col-xs-12    
      .condition-feature-wrapper
        .row
          .col-sm-6.col-xs-6
            .disease-feature-image-wrapper
              %img{:src => "http://placehold.it/100", :class => "disease-feature-image"}
            .disease-feature-text
              HEART ATTACK
          .col-sm-6.col-xs-6
            .disease-feature-image-wrapper
              %img{:src => "http://placehold.it/100", :class => "disease-feature-image"}
            .disease-feature-text
              BRAIN STROKE
          .col-sm-6.col-xs-6
            .disease-feature-image-wrapper
              %img{:src => "http://placehold.it/100", :class => "disease-feature-image"}
            .disease-feature-text
              ACCIDENT
          .col-sm-6.col-xs-6
            .disease-feature-image-wrapper
              %img{:src => "http://placehold.it/100", :class => "disease-feature-image"}
            .disease-feature-text
              ACCIDENT
  .suggestion-wrapper
    .col-sm-12.col-xs-12    
      .condition-feature-wrapper
        .row
          

:javascript

  $(".js-example-basic-multiple").select2();
  

  $('.condition-patient').click(function(){
    $('.condition-patient').toggleClass('select2-container-multi-active');
  });

  $('<option style= "display:none;">'+'ads'+'</option>').appendTo('.js-example-basic-multiple');
  $(".js-example-basic-multiple").select2();


  $('.condition-patient').bind("DOMSubtreeModified",function(){
    var x = $('.select2-choices').height();
    $('.condition-patient').css('height', x);
    
  });

  








  