// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'responsive.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700);

html {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  @include from($break-sm) {
    font-size: 16px;
  }
}

body {

}

.link-block {
  text-decoration: none !important;
}

.select-home-page {
  height: 9vh;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
  margin-left: -15px;
  margin-right: -15px;
  font-family: 'Roboto', sans-serif;
  background-color: #5b8eff;
}

.select-box-text {
  color: white;
  font-size: 1.1rem;
  margin-left: 30px;
  line-height: 9vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.select-box-text-back {
  color: white;
  font-size: 1.1rem;
  line-height: 9vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-left: 10px;
  display: inline-block;
}

.back-arrow {
  display: inline-block;
  margin-left: 20px;
}

.back-arrow-image {
  margin-top: -6px;
}

.hospital-master {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  padding-top: 10px;
}

.hospital-go {
  height: 41vh;
  margin-left: -15px;
  background-color: #FF835F;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 2vh;
  margin-top: 3vh;
}

.ambulance-go {
  height: 41vh;
  margin-left: 10px;
  background-color: #7ae68e;
  margin-right: 10px;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.vehicle-go {
  height: 41vh;
  margin-left: 10px;
  background-color: #cae562;
  margin-right: 10px;
  margin-bottom: 2vh;
}

.call-doctor-home-go {
  height: 41vh;
  margin-left: -15px;
  background-color: #FFAC64;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 3vh;
}

.hospital-go-image {
  text-align: center;
  margin: 0 auto;
}

.hospital-go-image-master {
  display: block;
  margin: 0 auto;
  text-align: center;

}

.hospital-go-text {
  font-size: 1rem;
  color: #fff;
  margin-top: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: 300;
}

.phone-number-patient {
}

.phone-input-field {
  width: 80%;
  margin: 0 auto;
}

.phone-description-text {
  width: 80%;
  margin: 0 auto;
  color: #424242;;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 300;
}
.phone-desc-paddding-zero{
  padding-bottom: 0px !important;
}

.phone-info-wrapper {
  margin: 0 auto;
  margin-top: 15px;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.19);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.19);
  border-radius: 2px;
  background-color: #fff;
}

.phone-submit-button-wrapper {
  margin: 0 auto;
}

.btn-phone-submit {
  width: 60%;
  margin-left: 20%;
}

.btn-white-text{
  width: 60%;
  margin-left: 20%;
  color: #009688;
}

.checkbox {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  label {
    color: #505050;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
  }
}

.checkbox-material {
  left: -10px;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check, .checkbox-default input[type=checkbox]:checked + .checkbox-material .check {
  color: #42E0B9;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check:before, .checkbox-default input[type=checkbox]:checked + .checkbox-material .check:before {
  color: #42E0B9;
}

.option-text {
  width: 80%;
  margin: 0 auto;
  color: #424242;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-bottom: 20px;
}

.condition-patient {
  height: auto;
}

.condition-text-wrapper {
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
}
.condtion-text {
  color: #959595;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.condition-input-field {
  margin-top: 20px;

  .select2-container-multi .select2-choices .select2-search-choice {
    padding-left: 5px;
  }
}

.condition-feature-wrapper {
  -webkit-box-shadow:inset 0px 0px 0px 1px #e9e9e9;
  -moz-box-shadow:inset 0px 0px 0px 1px #e9e9e9;
  box-shadow:inset 0px 0px 0px 1px #e9e9e9;
  margin-top: 20px;
  margin: 0 auto;
  width: 90%;
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
}

.disease-feature-image {
  border-radius: 50%;
  border: 1px solid #e2e2e2;
  &:focus {
    border: 1px solid #42e0b9;
  }
}

.disease-feature-text {
  color: #7d7d7d;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  &:focus {
    color: #42e0b9;
  }
}

.disease-feature-image-wrapper {
  text-align: center;
}

.active {
  color: #42e0b9;
}

.active-border {
  border: 1px solid #42e0b9;
}

.select2-container-multi-active {
  outline: none;
  background-image: linear-gradient(#009688, #009688), linear-gradient(#d2d2d2, #d2d2d2);
  -webkit-animation: input-highlight 0.5s forwards;
  animation: input-highlight 0.5s forwards;
  box-shadow: none;
  background-size: 0 2px, 100% 1px;
}

#map {
  width: 100%;
  height: 400px;
}

.doctor-wrapper {
  position: relative;
  top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(97,97,97,0.5);
  -moz-box-shadow: 0px 1px 6px 0px rgba(97,97,97,0.5);
  box-shadow: 0px 1px 6px 0px rgba(97,97,97,0.5);
  font-family: 'Roboto', sans-serif;
}

.status-doctor {
  float: right;
  margin-right: 20px;
  line-height: 20px;
  background-color: #72cf57;
  color: #fff;
  border-radius: 40px;
  width: 70px;
  text-align: center;
  height: 20px;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}


.call-doctor {
  float: right;
  margin-right: 20px;
  line-height: 20px;
  color: #42e0b9;
  width: 70px;
  text-align: center;
  height: 20px;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif;
}

.status-doctor-distance {
  float: right;
  margin-right: 10px;
  line-height: 40px;
  width: 70px;
  text-align: center;
  height: 40px;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

.doctor-photo-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #979797;
  text-align: center;
  line-height: 40px;
  margin-left: 20px;
  margin-top: 10px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

.location-photo-wrapper {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  margin-left: 20px;
  margin-top: 10px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

.phone-photo-wrapper {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  margin-left: 20px;
  margin-top: 10px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

.doctor-name-wrapper {
  height: 40px;
  width: 130px;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

.phone-name-wrapper {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

.notify-no-doc {
  height: 60px;
  background-color: #ffa75b;
  color: #fff;
  padding-top: 10px;
  padding-left: 10px;
}

.location-name-wrapper {
  height: 40px;
  font-size: 14px;
  margin-left: 10px;
  line-height: 40px;
  color: #898989;
  margin-top: 10px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  width: 150px;
}

.btn-color{
  color: #42E0B9 !important;
  float: right;
  text-align: right;
}

