%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "#"} Emergency App
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{ class: ("active" if controller?("admin/ambulances")) }
          %a{href: admin_ambulances_path } Ambulances
        %li{ class: ("active" if controller?("admin/diseases")) }
          %a{href: admin_diseases_path } Diseases
        %li{ class: ("active" if controller?("admin/precautions")) }
          %a{href: admin_precautions_path } Precautions
        %li{ class: ("active" if controller?("admin/requests")) }
          %a{href: admin_requests_path } Requests
        %li{ class: ("active" if controller?("admin/doctors")) }
          %a{href: admin_doctors_path } Doctors
        %li{ class: ("active" if controller?("admin/hospitals")) }
          %a{href: admin_hospitals_path } Hospitals
        %li{ class: ("active" if controller?("admin/services")) }
          %a{href: admin_services_path } Services
        %li{ class: ("active" if controller?("admin/specialities")) }
          %a{href: admin_specialities_path } Specialities
        %li{ class: ("active" if controller?("admin/symptoms")) }
          %a{href: admin_symptoms_path } Symptoms
      %ul.nav.navbar-nav.navbar-right
        %li
          / # = link_to('Logout', destroy_admin_session_path, method: :delete)
  / /.container-fluid